:root {
    --navbar-height: 3rem;
    --color-highlight: salmon;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    list-style: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(253, 204, 141);
    overflow: hidden;
}

navbar-component {
    width: 100%;
    position: fixed;
}

#main-view {
    width: 100%;
    height: calc(100% - var(--navbar-height));
    position: relative;
    top: var(--navbar-height);
    max-width: 50rem;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

h1 {
    margin: 2rem 1rem 0 1rem;
}

.hidden {
    display: none;
}

.clickable:hover {
cursor: pointer;
}

#tests-list {
    margin: 5rem 1rem;
    display: flex;
}

.quiz-card {
    display: flex;
    border-radius: 2rem;
    box-shadow: 0.25rem 0.25rem .5rem rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

#le-grand-test-du-mana {
    padding-left: 0.5rem;
}

.quiz-icon {
    display: block;
    flex-shrink: 1;
    width: 7rem;
    height: 7rem;
}

.test-title {
    font-size: 1.25rem;
}

.author-name {
    color: var(--color-highlight);
}

.test-description {
    padding-left: 1rem;
}